$white: hsl(0, 0%, 100%);
$jetblack: hsl(0, 0%, 19%);
$davygray: hsl(0, 0%, 25%);
$primary: hsl(201, 64%, 41%);
$secondary: hsl(206, 36%, 18%);

$heading-font: "Fira Sans", sans-serif;
$paragraph-font: "Open Sans", sans-serif;